:root{
    --primary: #262A38;
    --orange: #EF8354;
    --secondary: #2D3142;
    --heading: #5e6d89;
    --subheading: #414A5F;
    --sub: #4F5D75;
    --darkprim: #232734;
    --item: #2A2E3D;
    --item_highlight: #232734;
    --desc: #465060;
    --sepB: #1d202b;
}

* {
    margin: 0;
    padding: 0;
}

/*animation: fadeInUp 0.6s cubic-bezier(.77,0,.175,1);*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpS {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

.star {
    z-index: 100;
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
}

@keyframes moveStars {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.1;
    }
}